
/* body {
    background-color: rgb(255, 153, 0);
    color: white;
} */

#imageup{
  width: 120px;
  align-content: right;
}
body {
    background-color: rgb(65,18,24);
    color: white;
    font-family: 'Segoe UI';
}

h1{text-align: center;}
p {text-align: center;}

#navbar{
  background-color: rgb(65,18,24);

}

.my_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    transition: transform .2s;
}

.my_image:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

.login {
  width: 300px;
  height: 250px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login {
  border-radius: 25px;
  background: rgba(232,152,46);
  padding: 20px;
  font-size: 25px;
  text-align: center; 
}
.footer {
  background-color: rgb(65,18,24);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.lside{
  float: left;
  width: 82%;
}
.rside{
width: 18%;
  float: left;
}
.my_image img {
  position: absolute;
  top: 0px;
  right: 0px;
}
.chat{
  background-color: rgb(232,152,46);
  border-radius: 6px;
}
#chat{
  overflow: auto;
  height: 500px;
  border: 2px solid rgb(232,152,46);
  border-radius: 12px;
  padding: 5px;
  background-color: rgb(65,18,24);
}
#userlikenolike{
  border: 2px solid rgb(232,152,46);
  background-color: rgb(232,152,46);
  border-radius: 12px;
}

#LIKE{
    size: A3;
}

#DISLIKE{
    size: A3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(65,18,24);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(221,184,144);
}
#navbar ul {
  display: inline-block;
  list-style-type: none;
}