# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\cse312-group\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
